{
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    "transform-export-extensions"
  ],
  "presets": [
    [
        "es2015",
        {
          "modules": false
        }
    ]
  ]
}
