body {
  margin: 0;
  padding: 80px;
}

.container {
  display: flex;
  width: calc(100vw - 160px);
  height: calc(100vh - 160px);
  justify-content: center;
  align-items: center;
}

svg {
  width: 100%;
  height: 100%;
}
